* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    gap: 20px;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
        "header header header"
        "total-scores game-play turn-score";

    color: #2d3239;
    background-color: #97abaf;
}

header,
#total-scores,
main,
#turn-score {
    display: grid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header {
    place-content: center;

    grid-area: header;

    text-align: center;

    font-size: 1.5em;

    background-color: #f7ef81;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#total-scores {
    grid-area: total-scores;

    justify-items: center;

    background-color: #c4d86f;
    gap: 15px;
}

#total-scores > div {
    display: grid;

    justify-items: center;

    grid-template-rows: min-content 1fr;
}

#total-scores > div > h5 {
    font-size: 1.2em;
    padding: 5px;
}

#total-scores > div > p {
    font-size: 1.7em;
    place-self: center;
}

#total-scores > h2,
#turn-score > h2 {
    font-size: 2em;
}

main,
#total-scores,
#turn-score {
    border-radius: 15px;
    padding: 30px;
}

main {
    gap: 20px;

    grid-area: game-play;

    grid-template-areas:
        "heading heading"
        "die1 die2"
        "roll-btn roll-btn"
        "turn-over-btn turn-over-btn";

    justify-content: center;

    background-color: #a6e79d;
}

main > h2 {
    grid-area: heading;
    text-align: center;
    font-size: 2.7em;
}

main > #roll-btn {
    grid-area: roll-btn;
}

main > #turn-over-btn {
    grid-area: turn-over-btn;
}

#roll-btn,
#turn-over-btn {
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #69d75b;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    justify-self: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#roll-btn:hover,
#turn-over-btn:hover {
    background-color: #78db6b;
}

#roll-btn:disabled,
#turn-over-btn:disabled {
    background-color: #729f6d;
    cursor: not-allowed;
}

#turn-score {
    grid-area: turn-score;

    justify-items: center;

    background-color: #c4d86f;

    grid-template-rows: min-content 1fr;
}

#turn-score > div {
    display: grid;
    place-content: center;
    place-self: center;
    font-size: 1.7em;
}

#turn-score > div,
#total-scores > div {
    border: 1px solid black;
    width: 105px;
    height: 105px;
    border-radius: 15px;

    background-color: #b1ca3f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Dice */
div.dice {
    background-color: whitesmoke;
    height: 6.5em;
    width: 6.5em;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;

    padding: 13px;
    display: grid;

    box-sizing: border-box;

    gap: 3px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "one    ....  two"
        "three  four  five"
        "six    ....  seven";
}

.dice > div {
    background-color: black;

    border-radius: 100%;

    display: none;
}

.dice > div:nth-child(1) {
    grid-area: one;
}

.dice > div:nth-child(2) {
    grid-area: two;
}

.dice > div:nth-child(3) {
    grid-area: three;
}

.dice > div:nth-child(4) {
    grid-area: four;
}

.dice > div:nth-child(5) {
    grid-area: five;
}

.dice > div:nth-child(6) {
    grid-area: six;
}

.dice > div:nth-child(7) {
    grid-area: seven;
}

.one > div:nth-child(4) {
    display: block;
}

.two > div:nth-child(3),
.two > div:nth-child(5) {
    display: block;
}

.three > div:nth-child(1),
.three > div:nth-child(4),
.three > div:nth-child(7) {
    display: block;
}

.four > div:nth-child(1),
.four > div:nth-child(2),
.four > div:nth-child(6),
.four > div:nth-child(7) {
    display: block;
}

.five > div:nth-child(1),
.five > div:nth-child(2),
.five > div:nth-child(4),
.five > div:nth-child(6),
.five > div:nth-child(7) {
    display: block;
}

.six > div:nth-child(1),
.six > div:nth-child(2),
.six > div:nth-child(3),
.six > div:nth-child(5),
.six > div:nth-child(6),
.six > div:nth-child(7) {
    display: block;
}

#die1 {
    grid-area: die1;
    justify-self: end;
}

#die2 {
    grid-area: die2;
    justify-self: start;
}

/* Overlay */
#overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10% 20%;

    display: grid;
    place-content: center;
}

#overlay > div {
    border: 2px solid black;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding: 30px 50px;
    box-sizing: border-box;

    display: grid;
    gap: 15px;
}

#overlay ul {
    margin-left: 20px;
}

#overlay button {
    justify-self: start;
    width: 250px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
